.detail-day {
  width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 12px 10px;
  font-size: 12px;
  border-radius: 5px;
  position: relative;

  .back-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
  }
}
