* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
}

.container {
  max-width: 650px !important;
  height: auto;
  display: flex;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
  background-color: #fff;
  padding: 30px 12px 0;
  font-size: 12px;
  border-radius: 5px;
}

.left {
  width: 38%;
}

.right {
  width: 65%;
  height: 100%;
  padding-left: 30px;
}

@media (min-width: 1536px) {
  .container {
    max-width: 640px;
  }
}
