.footer-detail {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow-x: scroll;
}

.detail-item {
  display: flex;
  min-width: 86px;
  padding: 8px 0;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(78, 147, 250);
  color: #fff;
  // border: 1px solid rgb(78, 147, 250);
  margin-right: 2px;
  margin-bottom: 2px;

  .hour {
    font-weight: 500;
  }

  img {
    width: 32px;
    height: 32px;
    margin: 6px 0;
  }

  .type {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
  }
}
